$mutedGreen: #77C093;
//$navSpace: 114px;
$navSpace: 341px;

:root {
  --frame-margin: 8px;

  @media screen and (min-width: 1000px) {
    --frame-margin: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'On Diatype Standard', sans-serif;
  background-color: #111;
}

.semi-mono {
  font-family: 'On Diatype Semi-Mono', sans-serif;
}
.mono {
  font-family: 'On Diatype Mono', monospace;
  font-variant-numeric: slashed-zero;
}

* {
  box-sizing: border-box;
}

canvas {
  //position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  @media (hover: none) {
    pointer-events: none;
  }
}

.app {
  position: relative;
  overflow: hidden;
}

.borders {
  position: fixed;
  z-index: 200;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;

  img {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
    transform: translate3d(-3%,3%,0);
  }
}

.gui {
  position: absolute;
  left: var(--frame-margin);
  top: var(--frame-margin);
  right: var(--frame-margin);
  bottom: var(--frame-margin);
  color: #000;
  border: 2px solid currentColor;
  pointer-events: none;

  &__header {
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid currentColor;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    &-part {
      width: 50%;
      padding: 12px;
    }
    &-title {
      border-left: 2px solid currentColor;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid currentColor;
    padding-right: $navSpace;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    > div {
      padding: 17px 12px;
      border-right: 2px solid currentColor;
    }

    &-distance,
    &-altitide {
      flex: none;
    }
  }
}

.gui-nav {
  position: absolute;
  color: #000;
  right: calc(var(--frame-margin) + 2px);
  bottom: calc(var(--frame-margin) + 2px);
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .color--light & {
    color: #000;
  }

  &__item {
    cursor: pointer;

    path,
    rect {
      stroke: currentColor;
    }
  }

  &__readmore {
    padding: 16px 20px;
    line-height: 24px;
  }

  svg {
    display: block;
  }

  &__divider {
    width: 2px;
    background-color: currentColor;

    @media (hover: none) {
      .gui-nav__camera + & {
        display: none;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlights {
  position: fixed;
  right: calc(var(--frame-margin) + 2px);
  left: calc(var(--frame-margin) + 2px);
  top: 68px;
  bottom: 78px;
  background-color: #fff;

  display: none;

  &--open {
    display: block;
    animation: fadeIn 0.5s ease;
  }
}

.highlight {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 80px;
  overflow: auto;
  transition: all 0.4s ease;

  opacity: 0;
  pointer-events: none;

  h2 {
    font-size: 4rem;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.spacer {
  height: 100vh;
}

.stats {
  display: none;
  
  > div {
    left: 22px !important;
    top: 68px !important;
  }
}